<div class="common-container welcome-container">
  <h1>Спринт</h1>
  <p>Необходимо проверить соответствует ли перевод истине. На это отводится 60 сек.</p>
  <p>Выберите сложность:</p>
  <ul>
    <li class="level level1" data-difficult="0">A1</li>
    <li class="level level2" data-difficult="1">A2</li>
    <li class="level level3" data-difficult="2">B1</li>
    <li class="level level4" data-difficult="3">B2</li>
    <li class="level level5" data-difficult="4">C1</li>
    <li class="level level6" data-difficult="5">C2</li>
  </ul>
  <button class="start-sprint" disabled>Начать</button>
</div>