@keyframes animate-height {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.common-container {
    max-width: 500px;
    width: 60vw;
    height: fit-content;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: hsla(189, 61%, 31%, 0.3);
    backdrop-filter: blur(4px);
    animation: animate-height .5s linear;
    animation-fill-mode: both;
}

.result-game-container {
    display: flex;
    flex-direction: column;

    .result-header {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-around;

        .btn-result,
        .btn-words {
            font-size: 24px;
            font-family: 'Nunito', sans-serif;
            border: none;
            border-bottom: 1px solid transparent;
            background: none;font-size: 24px;
            padding-bottom: 5px;
        }

        .btn-result:hover,
        .btn-words:hover {
            cursor: pointer;
            border-bottom: 1px solid #00c3ff;
            transition: .3s;
        }

        .btn-active {
            border-bottom: 1px solid #002fff;
        }
    }
    
    .result-diagram-main {
        display: flex;
        height: 430px;
        flex-direction: column;
        justify-content: end;
        align-items: center;

        .citation {
            font-size: 24px;
            color: #6e05cb;
        }

        .diagram-result,
        .diagram-result-new {
            width: 350px;
            height: 350px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 22px;
            position: relative;
            margin: 20px 0;
        }
        
        .diagram-result-new {
            position: absolute;
        }
        
        .diagram-result::before,
        .diagram-result-new::before {
            content: '';
            width: 300px;
            height: 300px;
            border-radius: 50%;
            background-color: #ffffff;
        }
        
        .inside {
            position: absolute;
            z-index: 10;
            bottom: 185px;
            color: #0f66dd;
        }
        
        .inside-new {
            position: absolute;
            top: 185px;
            color: #599106;
        }
        
        .circle-1 {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            position: absolute;
            top: 0;
        }
        
        .circle-2 {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            position: absolute;
            top: 0;
            transform-origin: 12.5px 175px;
        }
    }

    .result-words {
        .true-answer-container {
            margin-top: 20px;
        }

        .false-answer-container,
        .true-answer-container {
            h2 {
                margin-bottom: 10px;
                font-size: 24px;
            }
            
            .word-list {
                list-style: none;
                text-align: left;
                margin-left: 20px;
                font-size: 20px;
                height: 185px;
                overflow: auto;
                border: 1px solid;
    
                .item-audio {
                    margin-right: 10px;
                }
    
                .item-audio i:hover {
                    cursor: pointer;
                    background-color: #fe8366;
                }

                .item-audio i:active {
                    transform: scale(0.9);
                }

                .word-rus {
                    color: #a52a2a;
                }
            }
        }
    }

    .result-footer {
        display: flex;
        justify-content: space-evenly;
        margin-top: 20px;

        a {
            font-size: 18px;
            padding: 3px 10px;
            background-color: #fe8365;
            color: #ffffff;
            border: 1px solid #fe8365;
            border-radius: 15px;
            width: 185px;
        }

        a:hover {
            cursor: pointer;
            background-color: #ffffff;
            color: #fe8365;
        }
    }

    .hide {
        display: none;
    }
}

.hide {
    display: none;
}