<header>
  <div class="container header-container">
    <div class="logo"></div>
    <div class="right-header">
      <nav>
        <ul class="header-menu">
          <li class="menu-element">Учебник</li>
          <li class="menu-element sub-element">Игры
            <ul class="submenu">
              <li>Аудиовызов</li>
              <li>Спринт</li>
            </ul>
          </li>
          <li class="menu-element">Статистика</li>
        </ul>
      </nav>
      <button class="auth-btn">Войти</button>
    </div>
  </div>
</header>