<header>
  <div class="container header-container">
    <div class="left-header">
      <div class="hamburger">
        <div class="hamburger-inner" role="button" tabindex="0">
          <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:none;}</style></defs><title/><g data-name="Layer 2" id="Layer_2"><path d="M28,10H4A1,1,0,0,1,4,8H28a1,1,0,0,1,0,2Z"/><path d="M28,17H4a1,1,0,0,1,0-2H28a1,1,0,0,1,0,2Z"/><path d="M28,24H4a1,1,0,0,1,0-2H28a1,1,0,0,1,0,2Z"/></g></svg>
        </div>
        <div class="cross">
          <svg class="hamburger-cross" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><title/><g id="cross"><line class="cls-1" x1="7" x2="25" y1="7" y2="25"/><line class="cls-1" x1="7" x2="25" y1="25" y2="7"/></g></svg>
        </div>
      </div>
      <a href="#"><div class="logo"></div></a>
    </div>
    <div class="right-header">
      <nav>
        <ul class="header-menu">
          <li class="menu-element"><a href="#textbook">Учебник</a></li>
          <li class="menu-element sub-element">Игры
            <ul class="submenu">
              <li><a href="#audiocall">Аудиовызов</a></li>
              <li><a href="#sprint">Спринт</a></li>
            </ul>
          </li>
          <li class="menu-element"><a href="#statistic">Статистика</a></li>
        </ul>
      </nav>
      <a class="auth-btn fill-btn" href="#auth">Войти</a>
    </div>
  </div>
</header>