@keyframes animate-height-up {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes animate-height-down {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }
}

.sprint-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 79px);
    background: url('../../../assets/bg-sprint.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    .common-container {
        max-width: 500px;
        width: 60vw;
        height: fit-content;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        background-color: #e3f7f3;
        animation: animate-height-up .5s linear;
        animation-fill-mode: both;
    }
    
    .stopwatch-container {
        display: none;
        text-align: center;

        .stopwatch {
            border: 1px solid #73737a;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            font-size: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        p {
            margin-top: 20px;
            font-size: 20px;
            color: #000000;
            text-transform: uppercase;
        }
    }

    .game-container {
        display: none;

        .header-game-container {
            margin: 30px;
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            .game-timer {
                border: 1px solid #73737a;
                width: 70px;
                height: 70px;
                border-radius: 50%;
                font-size: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .game-close {
                font-size: 40px;
                height: 30px;
                display: flex;

                i {
                    position: relative;
                    top: -5px;
                }
            }

            .game-close:hover {
                cursor: pointer;
                background-color: #e91212;
            }

            .game-close:active {
                transform: scale(0.9);
            }

            .volume {
                font-size: 40px;
                width: 45px;
            }
            
            .volume-on::before {
                font-family: "Font Awesome 5 Free"; 
                font-weight: 900; 
                content: "\f028";
            }
            
            .volume-mute::before {
                font-family: "Font Awesome 5 Free"; 
                font-weight: 900; 
                content: "\f6a9";
            }
            
            .volume-on:hover,
            .volume-mute:hover {
                cursor: pointer;
                color: #fe8365;
            }

            .volume-on:active,
            .volume-mute:active {
                transform: scale(0.9);
            }
        }

        .word-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 20px;
            font-size: 34px;

            .bonus-things {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;

                .bonus-star,
                .bonus-medal {
                    i {
                        color: #81817e;
                    }

                    .mark-star {
                        color: #0094ff;
                    }

                    .mark-medal {
                        color: #ffd700;
                    }
                }

                .score-container {
                    font-size: 26px;
                }
            }
            
            .game-bonus {
                font-size: 15px;
                color: #000000
            }

            .data-word {
                width: 100%;

                .word-sound:hover {
                    cursor: pointer;
                    background-color: #fe8365;
                }

                .word-sound:active {
                    transform: scale(0.9);
                }

                .word-translate {
                    color: #476ce6;
                }

                .word-button {
                    margin-top: 20px;
                }
                
                .word-button,
                .key-hint {
                    display: flex;
                    justify-content: center;
                    column-gap: 30px;

                    .button-true,
                    .button-false {
                        font-size: 18px;
                        padding: 3px 10px;
                        background-color: #fe8365;
                        color: #ffffff;
                        border: 1px solid #fe8365;
                        border-radius: 15px;
                        width: 100px;
                    }

                    .button-true:hover,
                    .button-false:hover {
                        cursor: pointer;
                        background-color: #ffffff;
                        color: #fe8365;
                    }
                }

                .key-hint {
                    color: #1c9dd1;
                    column-gap: 96px;
                }
            }
        }

        .close-container {
            animation: animate-height-down .5s linear;
            animation-fill-mode: both;
        }
    }

    .show {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hide {
        display: none;
    }
}

.hide-visibility {
    display: none;
}