<app-header></app-header>
<main class="sprint-page">
  <div class="sprint-page-container">
    <app-select-difficulty></app-select-difficulty>

    <div class="stopwatch-container">
      <div class="stopwatch"></div>
      <p>Приготовьтесь</p>
    </div>

    <div class="game-container">
      <div class="header-game-container">
        <div class="game-timer"></div>
        <div class="volume volume-on"></div>
        <div class="game-close"><i class="fas fa-window-close"></i></div>
      </div>
      
      <div class="common-container word-card">
        <div class="bonus-things">
          <div class="bonus-medal">
            <i class="fas fa-medal"></i>
            <i class="fas fa-medal"></i>
            <i class="fas fa-medal"></i>
            <i class="fas fa-medal"></i>
          </div>

          <span class="score-container">Счёт: <span class="score">0</span></span>

          <div class="bonus-star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
        </div>
        
        <span class="game-bonus">+<span class="bonus-points">1</span> <span class="right-name-points"></span> за слово</span>

        <div class="data-word">
          <div>
            <span class="word-text"></span>
            <i class="word-sound fas fa-file-audio"></i>
          </div>
          <span class="word-translate"></span>
          <div class="word-button">
            <button class="button-false">Неверно</button>
            <button class="button-true">Верно</button>
          </div>
          <div class="key-hint">
            <i class="fas fa-long-arrow-alt-left"></i>
            <i class="fas fa-long-arrow-alt-right"></i>
          </div>
        </div>

      </div>
    </div>

    <app-result-game></app-result-game>
  </div>
</main>