<app-header></app-header>
<main class="sprint-page">
  <div class="sprint-page-container">
    <div class="welcome-container">
      <h1>Спринт</h1>
      <p>Необходимо проверить соответствует ли перевод истине. На это отводится 60 сек.</p>
      <p>Выберите сложность:</p>
      <ul>
        <li class="level level1">A1</li>
        <li class="level level2">A2</li>
        <li class="level level3">B1</li>
        <li class="level level4">B2</li>
        <li class="level level5">C1</li>
        <li class="level level6">C2</li>
      </ul>
      <button class="start-sprint" disabled>Начать</button>
    </div>
  </div>
  
</main>