@mixin colorTheme($color) {
  .word-detail .word-content .word-actions button {
    background-color: $color;
    border: 1px solid $color;

    &:hover {
      background-color: white;
      border: 1px solid $color;
    }
  }

  .word-detail .word-content .answers-container .game-name {
    background-color: $color;
  }
}

@mixin beforeIcon($src) {
  position: relative;
  margin-left: 20px;

  &::before {
    content: '';
    position: absolute;
    left: -20px;
    display: block;
    width: 18px;
    height: 18px;
    background: url($src);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.word-detail {
  background-color: white;
  width: 400px;
  border-radius: 10px;

  @media (max-width: 1440px) {
    width: 328px;
  }

  @media (max-width: 780px) {
    width: 355px;
  }

  @media (max-width: 400px) {
    width: 100%;
  }

  .word-image {
    background: url('../../../assets/01_0005.jpg');
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;

    &::after {
      content: '';
      position: relative;
      top: 176px;
      display: block;
      background: url('../../../assets/Mask1.png');
      background-repeat: no-repeat;
      background-size: contain;
      height: 30px;

      @media (max-width: 1440px) {
        top: 180px;
      }
    }
  }

  .word-content {
    padding: 20px;

    .word-title,
    h3 {
      margin: 0;
      color: black;
    }

    .word-translate {
      font-size: 1.5rem;
    }

    .word-transcription {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      font-size: 1.2rem;
      font-weight: 600;
      letter-spacing: 0.1em;

      svg {
        width: 30px;
        height: 24px;
        cursor: pointer;

        path {
          transition: .5s;
        }

        &:hover {
          path {
            fill: #666666;
          }
        }
      }
    }

    .word-actions {
      display: flex;
      justify-content: space-between;
      margin: 10px 0;

      &:first-child {
        margin-right: 20px;
      }

      button {
        width: 160px;
        border: none;
        background-color: #8bd884;
        border: 1px solid #8bd884;
        padding: 5px 0;
        border-radius: 20px;
        cursor: pointer;
        transition: .5s;

        @media (max-width: 1440px) {
          width: 140px;
        }

        &:hover {
          background-color: white;
          border: 1px solid #8bd884;
        }
      }
    }

    .only-authorized {
      display: none;
    }

    .answers-container {
      display: flex;
      justify-content: center;
      gap: 4rem;

      .game-name {
        background-color: #8bd884;
        padding: 5px 15px;
        border-radius: 15px;
        margin: 10px 0;
      }

      .right-answer {
        @include beforeIcon('../../../assets/correct-answer.svg');
      }

      .wrong-answer {
        @include beforeIcon('../../../assets/cross.svg');
      }
    }
  }
}

.colorTheme-0 {
  @include colorTheme(#8bd884);
}

.colorTheme-1 {
  @include colorTheme(#71DEC5);
}

.colorTheme-2 {
  @include colorTheme(#fff174);
}

.colorTheme-3 {
  @include colorTheme(#ffcb74);
}

.colorTheme-4 {
  @include colorTheme(#FE8366);
}

.colorTheme-5 {
  @include colorTheme(#d34747);
}
