.audiocall-question  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 60vh;
  margin-bottom: 40px;
  transition: .5s;
  margin-right: -350%;

  .question-info {
    display: flex;
    height: 0;
    flex-direction: column;
    align-items: center;
    transition: .5s;
    transform: scale(0);

    .question-image {
      width: 400px;
      height: 270px;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 10px;
      box-shadow: 3px 4px 11px -1px rgba(34, 60, 80, 0.5);

      @media (max-width: 1440px) {
        width: 300px;
        height: 175px;
      }
    }

    .question-answer {
      display: flex;
      align-items: center;

      p {
        font-family: 'Marmelad', sans-serif;
        color: white;
        font-size: 1.5rem;
        text-align: center;
        margin: 10px 0 10px 20px;
      }

      .play-answer {
        width: 40px;
        cursor: pointer;

        path {
          transition: .3s;
        }

        &:hover path{
          fill: rgb(216, 216, 216);
        }
      }
    }
  }

  .play-question {
    transition: .5s;

    svg {
      width: 120px;
      height: 120px;
      border: 5px solid white;
      border-radius: 50%;
      cursor: pointer;
      transition: 0.3s;
      
      path {
        stroke:white;
      }

      &:hover {
        transform: scale(1.1);
      }

      &:active {
        transform: scale(1);
      }
    }
  }

  .answers {
    display: flex;

    @media (max-width: 780px) {
      flex-direction: column;
      align-items: center;
    }

    .answer {
      margin: 0 20px;

      @media (max-width: 780px) {
        margin: 10px 0;
      }

      button {
        font-size: 1rem;
        text-transform: uppercase;
        background-color: transparent;
        border: 2px solid white;
        border-radius: 30px;
        color: white;
        padding: 10px 20px;
        transition: .3s;
        cursor: pointer;

        @media (max-width: 1048px) {
          text-transform: lowercase;
        }

        &:hover {
          background-color: rgba(197, 197, 197, 0.3);
        }

        &:disabled {
          background-color: rgba(197, 197, 197, 0.3);
          pointer-events: none;
          cursor: auto;
        }
      }

      .correct {
        background-color: rgb(92, 197, 82);
      }

      .incorrect {
        background-color: rgb(236, 78, 78);
      }
    }
  }

  .forward-btn {
    font-size: 1.1rem;
    text-transform: uppercase;
    background-color: rgb(221, 221, 221);
    border: none;
    border-radius: 30px;
    color: black;
    padding: 15px 40px;
    box-shadow: 3px 4px 11px -1px rgba(34, 60, 80, 0.5);
    transition: .3s;
    cursor: pointer;

    @media (max-width: 1440px) {
      font-size: 1rem;
    }

    &:hover {
      background-color: rgba(197, 197, 197, 0.3);
    }
  }
}