<div class="long-statistic container">
  <h2>Статистика за все время</h2>
  <div class="charts-switch">
    <span class="switch-label"> Кол-во изученных слов </span>
    <span class="toggle-slider">
      <input type="checkbox">
      <svg class="toggle-switch" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle fill="#fff" cx="50" cy="50" r="50"></circle></svg>
    </span>
    </span>
    <span class="switch-label"> Прогресс </span>
  </div>
  <div class="chart-container">
    <canvas id="statisticChart" ></canvas>
  </div>
</div>